extends ../layouts/default.pug
include ../mixins/filter.pug 
include ../mixins/change-multi.pug 
include ../mixins/search.pug 
include ../mixins/buttons.pug 
include ../mixins/pagination.pug 
include ../mixins/back.pug 

block main
  h1.box-title Thùng rác danh mục

  //- Section 5
  .section-5
    .inner-wrap
      +change-multi-status(`/${pathAdmin}/tour/change-multi`, [
        { value: 'undo', label: 'Khôi phục' },
        { value: 'delete-eternal', label: 'Xóa vĩnh viễn' },
      ])
      
      +search()

  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th(class="inner-center")
              input(type="checkbox" class="inner-check" check-all)
            th Tên danh mục
            th Ảnh đại diện
            th(class="inner-center") Vị trí
            th(class="inner-center") Trạng thái
            th Tạo bởi
            th Xóa bởi
            th Hành động
        tbody
          each item in categoryList
            tr
              td(class="inner-center")
                input(type="checkbox" class="inner-check" check-item=item.id)
              td #{item.name}
              td
                img(src=item.avatar class="inner-avatar")
              td(class="inner-center") #{item.position}
              td(class="inner-center")
                if(item.status == 'active')
                  .badge.badge-green Hoạt động
                else if(item.status == 'inactive')
                  .badge.badge-red Tạm dừng
              td
                div #{item.createByName}
                div.inner-time #{item.createAtFormat}
              td
                div #{item.deletedByName}
                div.inner-time #{item.deletedAtFormat}
              td
                .inner-buttons
                  +button-undo(`/${pathAdmin}/category/undo/${item.id}`)
                  +button-delete-eternal(`/${pathAdmin}/category/delete-eternal/${item.id}`)
      .inner-back 
        +back(`/${pathAdmin}/category/list`)            
          
  //- End Section 6

  //- Section 7
  .section-7
    +pagination(paginationData, categoryList)

  //- End Section 7

