extends ../layouts/default.pug
include ../mixins/filter.pug 
include ../mixins/change-multi.pug 
include ../mixins/search.pug 
include ../mixins/buttons.pug 
include ../mixins/trash.pug
include ../mixins/pagination.pug 

block main
  h1.box-title Quản lý danh mục

  //- Section 4
  .section-4
    .inner-wrap
      .inner-item.inner-label
        <i class="fa-solid fa-filter"></i> Bộ lọc
        +filter-status([
          { value: 'active', label: 'Hoạt động' },
          { value: 'inactive', label: 'Tạm dừng' }
        ])

      +filter-created-by(accountAdminList)

      +filter-date()
      
      +filter-reset()
  //- End Section 4

  //- Section 5
  .section-5
    .inner-wrap
      +change-multi-status(`/${pathAdmin}/category/change-multi`, [
        { value: 'active', label: 'Hoạt động' },
        { value: 'inactive', label: 'Tạm dừng' },
        { value: 'delete', label: 'Xóa' },
      ])
      
      +search()

      +button-create(`/${pathAdmin}/category/create`)

      +trash(`/${pathAdmin}/category/trash`)
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th(class="inner-center")
              input(type="checkbox" class="inner-check" check-all)
            th Tên danh mục
            th Ảnh đại diện
            th(class="inner-center") Vị trí
            th(class="inner-center") Trạng thái
            th Tạo bởi
            th Cập nhật bởi
            th Hành động
        tbody
          each item in categoryList
            tr
              td(class="inner-center")
                input(type="checkbox" class="inner-check" check-item=item.id)
              td #{item.name}
              td
                img(src=item.avatar class="inner-avatar")
              td(class="inner-center") #{item.position}
              td(class="inner-center")
                if(item.status == 'active')
                  .badge.badge-green Hoạt động
                else if(item.status == 'inactive')
                  .badge.badge-red Tạm dừng
              td
                div #{item.createByName}
                div.inner-time #{item.createAtFormat}
              td
                div #{item.updateByName}
                div.inner-time #{item.updateAtFormat}
              td
                .inner-buttons
                  +button-edit(`/${pathAdmin}/category/edit/${item.id}`)
                  +button-delete(`/${pathAdmin}/category/delete/${item.id}`)
                  
          
  //- End Section 6

  //- Section 7
  .section-7
    +pagination(paginationData, categoryList)

  //- End Section 7

