extends ../layouts/default.pug
include ../mixins/filter.pug 
include ../mixins/change-multi.pug 
include ../mixins/search.pug 
include ../mixins/buttons.pug 

block main
  h1.box-title Nhóm quyền

  //- Section 5
  .section-5
    .inner-wrap
      +change-multi-status(`/${pathAdmin}/tour/change-multi`, [
        { value: 'delete', label: 'Xóa' },
      ])
      +search()
      +button-create(`/${pathAdmin}/setting/role/create`)

  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th(class="inner-center")
              input(type="checkbox" class="inner-check" check-all)
            th Tên nhóm quyền
            th Mô tả ngắn
            th Hành động
        tbody
          each role in roleList
            tr
              td(class="inner-center")
                input(type="checkbox" class="inner-check" check-item=role.id)
              td #{role.name}
              td #{role.description}
              td
                .inner-buttons
                  +button-edit(`/${pathAdmin}/setting/role/edit/${role.id}`)
                  +button-delete(`/${pathAdmin}/setting/role/delete/${role.id}`)
  //- End Section 6