extends ../layouts/default.pug
include ../mixins/filter.pug 
include ../mixins/change-multi.pug 
include ../mixins/search.pug 
include ../mixins/buttons.pug 
include ../mixins/pagination.pug 
block main
  h1.box-title #{pageTitle}

  //- Section 4
  .section-4
    .inner-wrap
      .inner-item.inner-label
        <i class="fa-solid fa-filter"></i> Bộ lọc
        +filter-status([
          { value: 'active', label: 'Hoạt động' },
          { value: 'inactive', label: 'Tạm dừng' }
        ])

      +filter-created-by(accountAdminList)

      +filter-date()

      .inner-item
        select
          option(value="") Danh mục
          option(value="") Danh mục 1
          option(value="") Danh mục 2
      .inner-item
        select
          option(value="") Mức giá
          option(value="") Dưới 2tr
          option(value="") 2tr đến 4tr
          option(value="") 4tr đến 8tr
          option(value="") Trên 8tr

      +filter-reset()
  //- End Section 4

  //- Section 5
  .section-5
    .inner-wrap
      .inner-change-status(change-multi data-api=`/${pathAdmin}/tour/change-multi`)
          .inner-item
            select
              option(value="") -- Hành động --
              if (pers.includes("tour-edit"))
                option(value="active") Hoạt động
                option(value="inactive") Tạm dừng
              if (pers.includes("tour-delete"))
                option(value="delete") Xóa
          .inner-item
            button Áp dụng
      
      +search()

      if (pers.includes("tour-create"))
        +button-create(`/${pathAdmin}/tour/create`)

      if (pers.includes("tour-trash"))
        .inner-button-trash
          a(href=`/${pathAdmin}/tour/trash`) Thùng rác
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th(class="inner-center")
              input(type="checkbox" class="inner-check" check-all)
            th Tên tour
            th Ảnh đại diện
            th Giá
            th Còn lại
            th(class="inner-center") Vị trí
            th(class="inner-center") Trạng thái
            th Tạo bởi
            th Cập nhật bởi
            th Hành động
        tbody
          if(tourList.length > 0)
            each item in tourList
              tr
                td(class="inner-center")
                  input(type="checkbox" class="inner-check" check-item=item.id)
                td #{item.name}
                td
                  img(src=item.avatar class="inner-avatar")
                td
                  div NL: #{item.priceNewAdult.toLocaleString("vi-VN")}đ
                  div TE: #{item.priceNewChildren.toLocaleString("vi-VN")}đ
                  div EB: #{item.priceNewBaby.toLocaleString("vi-VN")}đ
                td
                  div NL: #{item.stockAdult}
                  div TE: #{item.stockChildren}
                  div EB: #{item.stockBaby}
                td(class="inner-center") #{item.position}
                td(class="inner-center")
                  if(item.status == 'active')
                    .badge.badge-green Hoạt động
                  else if(item.status == 'inactive')
                    .badge.badge-red Tạm dừng
                td
                  div #{item.createByName}
                  div.inner-time #{item.createAtFormat}
                td
                  div #{item.updateByName}
                  div.inner-time #{item.updateAtFormat}
                td
                  .inner-buttons
                    if (pers.includes("tour-edit"))
                      a(
                        href=`/${pathAdmin}/tour/edit/${item.id}` 
                        class="inner-edit"
                        ) <i class="fa-regular fa-pen-to-square"></i>
                        
                    if (pers.includes("tour-delete"))
                      button(
                        class="inner-delete" 
                        button-delete 
                        data-api=`/${pathAdmin}/tour/delete/${item.id}`
                      ) <i class="fa-regular fa-trash-can"></i>
          else 
            tr  
              td(colspan="10") Không có dữ liệu
  //- End Section 6

  //- Section 7
  .section-7
    +pagination(paginationData, tourList)
  //- End Section 7